numpy==1.26.4
opencv-python-headless==4.9.0.80
diffusers==0.27.2
transformers==4.39.1
accelerate==0.29.3
insightface==0.7.3
controlnet_aux==0.0.8
Pillow
fastapi
uvicorn[standard]
python-multipart
# ビルドで Cython を要求されたら↓のコメントを外してください
# cython==3.0.10
